 .container{
     margin-bottom: 50px;
 }
 .body_navbar{
    background-color: rgb(244, 250, 248);
    
}
.header{
    padding-top: 25px;
    
}
.nav-link{
    color: black;
}
.nav_item:hover{
    box-shadow:3px 3px 15px gray;
    color: whitesmoke;
    background-image: linear-gradient(to right, rgb(166, 241, 214),rgb(130, 216, 184));
    border-radius: 25px;
    
}
.all-button-style{
    color: white;
    background-color: rgb(30, 187, 108);
    border: none;
    border-radius: 25px;
    padding: 9px 30px;
}
.all-button-style:hover{
    box-shadow: 1px 1px 25px gray;
    color: gray;
    background-image: linear-gradient(to right, rgb(166, 241, 214),rgb(130, 216, 184));
}
 
.second_container_div{
    width: 250px;
    height: 250px;
    background-color: rgb(244, 250, 248);
    border-radius: 10px;

}
.second_container_div:hover{
    width: 250px;
    height: 250px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 10px;
    border: none;

}

.second_container_div2{
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 10px;
    border: none;
}
.second_container_div2:hover{
    width: 250px;
    height: 250px;
    background-color: rgb(244, 250, 248);
    border-radius: 10px;
}
.second_container_img_style{
    width: 55%;
    padding: 20px 30px;
    margin-left: 25%;
    margin-top: 25px;

}
.card{
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 15px lightgray;
}
.card:hover{
    box-shadow: 0px 0px 60px lightgray;
    background-color: aliceblue;
}

h2{
   
    text-align: center;
    font-weight:bold;
    color: rgb(71,35,90);

}
h2:hover{
    box-shadow: 0px 0px 50px lightgray;
    border-radius: 100px;
    color: gray;
}
.col-md-3{
    padding-top: 5%;
}
.testi_img:hover{
    border-radius: 130px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 30px lightgray;

}

.other_item_head{
    font-size: 19px;
}
.other_item_head:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 30px whitesmoke;
    font-weight: bold;
    background-color: rgb(255, 230, 197);
    color: black;
}
.other_item:hover{
    
    
    border-radius: 3px;
    box-shadow: 0px 0px 30px white;
    font-weight: bold;
    font-size: 16px;
}
